@import "tailwindcss";

@theme {
  /* Paleta Valtia */
  --color-valtia-purple: #4f31f5;
  --color-valtia-purple-dark: #3d22c9;
  --color-valtia-purple-light: #7b62f8;
  --color-valtia-yellow: #f5ce33;
  --color-valtia-orange: #f55d2e;
  --color-valtia-pink: #f52ea2;
  --color-valtia-ink: #161221;
  --color-valtia-gray: #6e6b7a;
  --color-valtia-soft: #f7f6fc;

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}
